@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

nav {
  background-color: #44001a;
  .custom_title {
    font-family: 'Architects Daughter', cursive;
  }
  .custom_size {
    width: 47px;
    height: 47px;
  }
}
