.custom_button {
  background: #44001a;
}

table {
  .table-custom {
    background-color: #b15b5b!important;
  }
  thead {
    tr {
      .fs-6 {
        font-size: 18px!important;
      }
    }
  }
}


